form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;
    margin: 20px auto;
}
.tributesContainer h2{
    font-weight: bold;
    color: #d4af37;
    margin-bottom: 15px;
    font-size: 2.3rem;;
    letter-spacing: 1px;
    font-family: 'Georgia', serif;
}

input{
    width: 100%;
    max-width: 500px;
    height: 30px;
    padding: 20px;
    border: 1px solid #d4af37;
    border-radius: 8px;
    color: rgba(0, 27, 52, 0.916);
}
textarea{
    width: 100%;
    max-width: 500px;
    height: 100px;
    padding: 20px;
    border: 1px solid #d4af37;
    border-radius: 8px;
    color: rgba(0, 27, 52, 0.916);
}
button{
    width: 100%;
    max-width: 500px;
    padding: 12px;
    background-color: #d4af37;
    color: #0f1419;
    cursor: pointer;
    font-weight: normal;
    border-radius: 8px;
    transition: all 0.3s;
}
button:hover{
    background-color: #0f1419;
    color: #fffdfe;
}

.profileIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d4af37;
    color: #0f1419a1;
}
.heading h2{
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}
.tributeHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    color: #0f1425;
}

.relationship{
    font-size: 0.7rem;
    color: #8b9db4ba;
}

.tributeList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin: 40px auto;
}

.tributeCard{
    flex: 1 1 300px;
    padding: 20px;
    font-size: 0.9rem;
    line-height: 1.5;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.011);
    border: 1px solid rgba(90, 125, 158, 0.121);
    border-radius: 12px;
}